div.progress-bar {
    background-color: #fff;
    width: 430px;
    height: 100px;
}
div.progress-bar .indicator-container {
    height:15px;
    width:400px;
    position: relative;
    left: 15px;
    top: 15px;
}
div.progress-bar .indicator {
    background-color: #00c;
    border: 1px solid black;
    height:100%;
}